.root {
    width: 100%;
    height: rem(128px);
    gap: rem(16px);
    padding: rem(16px);

    @media screen and (max-width: rem(750px)) {
        height: rem(112px);
    }

    @media screen and (max-width: rem(500px)) {
        height: rem(96px);
    }
}

.content {
    width: 50%;
}

.info {
    gap: rem(16px);
}

.skeleton {
    max-width: 100%;
}

.avatar {
    @media screen and (max-width: rem(750px)) {
        width: calc(3rem * var(--mantine-scale)) !important;
        height: calc(3rem * var(--mantine-scale)) !important;
    }

    @media screen and (max-width: rem(500px)) {
        width: calc(2.5rem * var(--mantine-scale)) !important;
        height: calc(2.5rem * var(--mantine-scale)) !important;
    }
}