.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: fit-content;
    position: fixed;
    top: rem(16px);
    left: 50%;
    z-index: 10000;
    transition: 150ms ease;
}

.inner {
    padding: rem(8px);
    background: alpha(var(--animeth-background-color), 0.5);
    backdrop-filter: blur(rem(32px)) contrast(1.25) saturate(2);
    border: rem(1px) solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-xl);
}