:where(.vds-controls) {
    background-image: linear-gradient(
        to top,
        rgb(0 0 0 / 0.6), 10%,
        transparent, 90%,
        rgb(0 0 0 / 0.3)
    );
    border-radius: var(--mantine-radius-md);
}