.stack {
    width: 100%;
}

.wrapper {
    width: 100%;
}

.loaderButton {
    min-width: fit-content;
}

.input {
    background: var(--anisun-secondary-color);
    border-color: alpha(var(--anisun-text-contrast-color), 0.05);

    &:focus-within {
        border-color: var(--anisun-text-contrast-color);
    }
}