.root {
    min-height: rem(160px);
    width: 100%;
    gap: rem(16px);
    padding: rem(16px);

    @media screen and (max-width: rem(750px)) {
        min-height: rem(144px);
    }

    @media screen and (max-width: rem(500px)) {
        min-height: rem(128px);
    }
}

.stack {
    width: 100%;
    max-width: calc(100% - rem(64px));

    @media screen and (max-width: rem(750px)) {
        gap: rem(8px);
    }
}

.deleted {
    color: gray;

    @media screen and (max-width: rem(750px)) {
        font-size: rem(14px);
    }

    @media screen and (max-width: rem(500px)) {
        font-size: rem(12px);
    }
}

.edited {
    color: gray;

    @media screen and (max-width: rem(750px)) {
        font-size: rem(14px);
    }

    @media screen and (max-width: rem(500px)) {
        font-size: rem(12px);
    }
}

.collapse {
    margin-left: rem(88px);
    color: var(--animeth-background-color);
    background: var(--animeth-text-contrast-color);
    border-radius: var(--mantine-radius-md);
    padding: rem(8px);
    font-size: rem(16px);
    line-height: rem(16px);

    @media screen and (max-width: rem(750px)) {
        margin-left: rem(72px);
        font-size: rem(14px);
    }

    @media screen and (max-width: rem(500px)) {
        margin-left: rem(64px);
        font-size: rem(12px);
    }
}

.message {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 100%;

    @media screen and (max-width: rem(750px)) {
        font-size: rem(14px);
    }

    @media screen and (max-width: rem(500px)) {
        font-size: rem(12px);
    }
}

.textArea {
    background: var(--animeth-sidebar-color);
    padding: rem(8px) rem(16px);
    border-radius: var(--mantine-radius-md);
}

.link {
    text-decoration: none;
    color: var(--animeth-text-contrast-color);
    font-weight: 500;
}

.avatar {
    @media screen and (max-width: rem(750px)) {
        --avatar-size: calc(3rem * var(--mantine-scale)) !important;
    }

    @media screen and (max-width: rem(500px)) {
        --avatar-size: calc(2.5rem * var(--mantine-scale)) !important;
    }
}

.commentText {
    @media screen and (max-width: rem(750px)) {
        font-size: rem(14px);
    }

    @media screen and (max-width: rem(500px)) {
        font-size: rem(12px);
    }
}

.commentGroup {
    @media screen and (max-width: rem(750px)) {
        gap: rem(8px);
    }
}

.icon {
    transform: rotate(180deg);

    @media screen and (max-width: rem(750px)) {
        width: rem(16px);
        height: rem(16px);
    }

    @media screen and (max-width: rem(500px)) {
        width: rem(14px);
        height: rem(14px);
    }
}

.iconWrapper {
    --local-background-color: light-dark(
            darken(var(--animeth-sidebar-color), 0.025),
            lighten(var(--animeth-sidebar-color), 0.025)
    );
    background: var(--local-background-color);
    border: none;

    @media screen and (max-width: rem(750px)) {
        --ai-size: rem(24px) !important;
    }

    @media screen and (max-width: rem(500px)) {
        --ai-size: rem(20px) !important;
    }
}