.root {
    min-height: rem(160px);
    width: 100%;
    gap: rem(16px);
    padding: rem(16px);
}

.stack {
    max-width: calc(100% - rem(64px));
}

.deleted {
    color: gray
}

.edited {
    color: gray
}

.collapse {
    margin-left: rem(32px);
}

.message {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 100%;
}