.wrapper {
    user-select: none;
    overflow: hidden;
    position: relative;
    transition: 150ms ease;
    border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
}

.infoWrapper {
    display: flex;
    align-items: center;
}

.poster {
    transition: 1s ease;
}

.overlay {
    transition: 1s ease;
}

.title {
    color: #ffffff;
}

.centerBox {
    width: rem(64px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}