.wrapper {
    user-select: none;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.poster {
    transition: 1s ease;
}

.overlay {
    transition: 1s ease;
}

.title {
    color: #ffffff;
}

.centerBox {
    width: rem(64px);
    height: rem(240px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}