@import "tailwindcss";

/*
 * Default tailwind's 'dark:*' selector uses
 * prefers-color-scheme media query,
 * but here we tell tailwind to apply 'dark:*' selector
 * only if the 'dark' class is presented in the HTML tree
 *
 * This way we can implement a color scheme toggle
 */
@custom-variant dark (&:where(.dark, .dark *));

/* Initial colors */
/* Color scheme is being stored in cookies */
:root {
  --dark-foreground: var(--color-white);
  --light-foreground: var(--color-black);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.temporaryshit {
/* Primary */

/* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 7px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%), #007AFF;
  box-shadow: 0px 1px 2.5px rgba(0, 122, 255, 0.24), 0px 0px 0px 0.5px rgba(0, 122, 255, 0.12);
  border-radius: 5px;

}