@import "tailwindcss";

/*
 * Custom animations
 */
@theme {
  --animate-gradient: gradient 3s linear infinite;

  @keyframes gradient {
    from {
      background-position: 0 center;
    }

    to {
      background-position: 200% center;
    }
  }
}

/*
 * Default tailwind's 'dark:*' selector uses
 * prefers-color-scheme media query,
 * but here we tell tailwind to apply 'dark:*' selector
 * only if the 'dark' class is presented in the HTML tree
 *
 * This way we can implement a color scheme toggle
 */
@custom-variant dark (&:where(.dark, .dark *));

/* Initial colors */
/* Color scheme is being stored in cookies */
:root {
  --background: var(--color-black);
  --dark-foreground: var(--color-white);
  --light-foreground: var(--color-black);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background: var(--background);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}