.react-modal-sheet-container {
    background: var(--animeth-background-color) !important;
}

.react-modal-sheet-content {
    padding: rem(16px) rem(16px) 0;
}

.react-modal-sheet-backdrop  {
    cursor: pointer;;
}