.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(92px);
    z-index: 20000;
    transition: transform 300ms ease;
}

.root {
    width: 100%;
    height: 100%;
    background: var(--animeth-sidebar-color);
    border-radius: var(--mantine-radius-xl) var(--mantine-radius-xl) 0 0;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: rem(4px);
}

.button {
    width: rem(92px);
    height: rem(32px);
    background: none;
    transition: 200ms ease;
}

.activeButton {
    background: light-dark(
            darken(var(--mantine-color-default-hover), 0.025),
            alpha(var(--mantine-color-default-hover), 0.35)
    );
}

.icon {
    color: var(--animeth-text-contrast-color)
}

.text {
    text-align: center;
    color: var(--animeth-text-contrast-color);
}

.segmentedControlRoot {
    padding: 0;
    background: none;
    flex-shrink: 0;
    border-radius: 0;
}

.chevron {
    transition: 150ms ease;
}

.chevronRotated {
    transform: rotate(-180deg) !important;
}