.stack {
    @media screen and (max-width: rem(750px)) {
        padding-left: rem(16px);
        padding-right: rem(16px);
    }
}

.title {
    color: var(--animeth-text-contrast-color);
}

.span {
    user-select: none;
}

.studioLogo {
    background: #fff;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: 150ms ease;

    @mixin hover {
        color: var(--animeth-text-contrast-color);
    }
}