.stack {
    @media screen and (max-width: rem(750px)) {
        padding-left: rem(16px);
        padding-right: rem(16px);
    }
}

.title {
    color: var(--animeth-text-contrast-color);
}

.span {
    user-select: none;
}

.studioLogo {
    background: #fff;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: 150ms ease;

    @mixin hover {
        color: var(--animeth-text-contrast-color);
    }
}

.description {
    align-items: flex-start;
    padding: rem(16px);
    height: rem(120px);
    width: 100%;
    border-radius: var(--mantine-radius-md);
    background: light-dark(#f3f3f4, #141516);
    transition: 150ms ease;
    overflow: hidden;
    cursor: pointer;
}

.descriptionGroup {
    @media screen and (max-width: rem(750px)) {
        flex-wrap: wrap;
    }
}

.expandedDescription {
    height: fit-content;
    cursor: auto;
}

.infoGroup {
    @media screen and (max-width: rem(750px)) {
        flex-wrap: wrap;
    }
}

.button {
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(16);
    color: var(--animeth-text-contrast-color);
}

.heading {
    text-transform: uppercase;
    color: var(--animeth-text-contrast-color);
}

.expandText {
    min-width: fit-content;
}

.statsText, .expandText {
    color: var(--animeth-text-contrast-color);
    font-size: rem(16px);
    line-height: rem(16px);
    font-weight: 600;
}

.imageWrapper {
    margin: 0;
    padding: 0;
    position: relative;
}

.imageOverlay {
    z-index: 50;
    width: rem(225px);
    height: rem(317px);
    border-radius: var(--mantine-radius-md);
}

.imageOverlayZoom {
    cursor: zoom-in;
}

.imageModal {
    display: grid;
    place-content: center;
    cursor: zoom-out;
    z-index: 99999;
    background: #0008;
    position: absolute;
    inset: 0;
    padding: rem(32px);
}

.relationSubtitle {
    font-size: rem(14px);
}

.videosGroup {
    @media screen and (max-width: rem(750px)) {
        justify-content: space-between;
    }
}