.wrapper {
    transition: 150ms ease;

    @media screen and (max-width: rem(750px)) {
        display: none;
    }
}

.mobileWrapper {
    display: none;
    transition: 150ms ease;

    @media screen and (max-width: rem(750px)) {
        display: block;
    }
}

.indicators {
    bottom: rem(-16px);
}

.indicator {
    @media screen and (max-width: rem(750px)) {
        background: var(--anisun-text-contrast-color);
    }
}

.control {
    width: rem(40px);
    height: rem(40px);

    @media screen and (max-width: rem(350px)) {
        width: rem(32px);
        height: rem(32px);
    }
}