.wrapper {
    transition: 150ms ease;

    @media screen and (max-width: rem(750px)) {
        display: none;
    }
}

.mobileWrapper {
    display: none;
    transition: 150ms ease;
}

@media screen and (max-width: rem(750px)) {
    .mobileWrapper {
        display: block;
    }
}

.indicators {
    bottom: rem(-16px);
}