.root {
    border: rem(2px) solid var(--mantine-color-default-border);
    height: rem(32px);
    border-radius: var(--mantine-radius-xl);
    padding: 0 rem(8px);
}

.breadcrumb {
    display: grid;
    place-content: center;
    padding: 0 rem(8px);
    height: rem(24px);
    border-radius: var(--mantine-radius-xl);
    transition: 150ms ease;
    overflow: hidden;
    text-wrap: nowrap;
    color: #fff;

    @mixin hover {
        background: darken(var(--mantine-color-default-hover), 0.05);
        color: var(--animeth-text-contrast-color);
    }
}