.root {
    padding: rem(16px);
    transition: 0.15s ease;
    background: var(--animeth-sidebar-color);
    border-radius: var(--mantine-radius-md);

    &:focus-within {
        @mixin hover {
        }
    }
}

.username {
    font-size: rem(18px);
    font-weight: 500;
}

.wrapper {
    /* Сброс дефолтных стилей <TextArea /> компонента из Mantine */
    --input-bd: none !important;
    --input-bd-focus: none !important;
    --input-bg: none !important;
}

.input {
    margin: 0;
    padding: 0;
    background: none;
}