.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(32px);
    width: rem(32px);
    border-radius: var(--mantine-radius-xl);
    transition: 150ms ease;
    border: rem(2px) solid var(--mantine-color-default-border);
    color: #fff;

    @mixin hover {
        color: var(--animeth-text-contrast-color);
        background: darken(var(--mantine-color-default-hover), 0.05);
    }
}