.drawer {
    background: var(--animeth-background-color);
    border-radius: var(--mantine-radius-xl) var(--mantine-radius-xl) 0 0;
}

.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(92px);
    z-index: 20000;
    transition: transform 300ms ease;
}

.root {
    width: 100%;
    height: 100%;
    background: var(--animeth-secondary-color);
    border-radius: var(--mantine-radius-xl) var(--mantine-radius-xl) 0 0;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: rem(4px);

    @mixin hover {
        .button {
            background: light-dark(
                lighten(var(--animeth-accent-color), 0.3),
                darken(var(--animeth-accent-color), 0.5)
            );
        }
    }
}

.button {
    width: rem(92px);
    height: rem(32px);
    background: light-dark(
        lighten(var(--animeth-accent-color), 0.5),
        darken(var(--animeth-accent-color), 0.7)
    );
    transition: 200ms ease;
}

.icon {
    color: light-dark(
        darken(var(--animeth-primary-color), 0.2),
        lighten(var(--animeth-primary-color), 0.2)
    );
}

.text {
    text-align: center;
    color: var(--animeth-text-color);
}