.text {
    @media screen and (max-width: rem(750px)) {
        font-size: rem(14px);
    }
}

.group {
    @media screen and (max-width: rem(750px)) {
        gap: rem(8px);
    }
}

.icon {
    @media screen and (max-width: rem(750px)) {
        width: rem(16px);
        height: rem(16px);
    }

    @media screen and (max-width: rem(500px)) {
        width: rem(14px);
        height: rem(14px);
    }
}

.iconWrapper {
    @media screen and (max-width: rem(750px)) {
        --ai-size: rem(24px) !important;
    }

    @media screen and (max-width: rem(500px)) {
        --ai-size: rem(20px) !important;
    }
}

.iconWrapperNotActive {
    background: var(--anisun-secondary-color);
    border: none;
}