.root {}

.control {
    max-width: 100%;
    flex-wrap: wrap;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}