.wrapper {
    display: flex;
    align-items: flex-end;
    transition: 150ms ease;
}

.imageWrapper {
    flex: 1;
    user-select: none;
    position: relative;
    transition: 400ms ease;
    overflow: hidden;
    border-radius: rem(32px);
}

.centerBox {
    width: rem(64px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.poster {
    transition: 400ms ease;
}

.overlay {
    transition: 400ms ease;
}

.title {
    color: var(--animeth-text-contrast-color);
}