.root {
    gap: rem(16px);
}

.list {
    background: darken(var(--mantine-color-default-hover), 0.05);
    border-radius: var(--mantine-radius-md);
    padding: rem(4px);
}

.panel {

}

.tab {
    transition: 150ms ease;

    &:before {
        width: rem(4px);
        height: rem(24px);
        position: absolute;
        left: 0;
        content: '';
        transition: 150ms ease;
        border-radius: var(--mantine-radius-xl);
    }

    &:where([data-active]) {
        color: var(--animeth-text-contrast-color);
        background: lighten(var(--mantine-color-default-hover), 0.1);

        &:before {
            background: var(--mantine-color-default-color);
        }
    }
}