:root {
    @mixin light-root {
        /* Общие цвета */
        --animeth-text-color: #1e0e20;
        --animeth-background-color: #fff;
        --animeth-primary-color: #5b285c;
        --animeth-secondary-color: #cd98c7;
        --animeth-accent-color: #730085;
        /* Специфические цвета */
        --animeth-nav-button-color: #eccbe4;
        --animeth-footer-color: #f4f3f4;
        --animeth-border-color: #e5e5e5;
        --animeth-text-contrast-color: #000;
        --animeth-text-contrast-reversed-color: #fff;
        --animeth-button-text-color: #fff;
        --animeth-button-background-hover-color: #532154;
        --animeth-block-background-color: #f7f4f7;
        --animeth-focused-block-background-color: #e3e1e3;
    }

    @mixin dark-root {
        /* Общие цвета */
        --animeth-text-color: #efdff1;
        --animeth-background-color: #000;
        --animeth-primary-color: #d6a3d7;
        --animeth-secondary-color: #673261;
        --animeth-accent-color: #ed7aff;
        /* Специфические цвета */
        --animeth-nav-button-color: #eccbe4;
        --animeth-footer-color: #0c0b0c;
        --animeth-border-color: #1a1a1a;
        --animeth-text-contrast-color: #fff;
        --animeth-text-contrast-reversed-color: #000;
        --animeth-button-text-color: #000;
        --animeth-button-background-hover-color: #e0b9db;
        --animeth-block-background-color: #0b080b;
        --animeth-focused-block-background-color: #1a141a;
    }
}