.wrapper {
    /* пиздец */
    --local-search-bar-border-radius: rem(16px);

    background: var(--animeth-secondary-color);
    width: 100%;
    min-width: rem(384px);
    border-radius: var(--local-search-bar-border-radius);

    @media (max-width: rem(750)) {
        min-width: unset;
    }
}

.dropdown {
    /* пиздец */
    --local-search-bar-border-radius: rem(16px);

    z-index: 30000 !important;
    border-radius: var(--local-search-bar-border-radius);
    border-color: var(--animeth-secondary-color);
    background: var(--animeth-secondary-color);
}

.option {
    border-radius: var(--mantine-radius-md) var(--mantine-radius-md) var(--local-search-bar-border-radius) var(--local-search-bar-border-radius);

    @mixin hover {
        background: alpha(var(--animeth-accent-color), 0.2)
    }

    &:where([data-combobox-disabled]) {
        opacity: unset;
        cursor: default;

        @mixin hover {
            background: unset;
        }
    }
}

.poster {
    width: 6rem;
}

.fetchingWrapper {
    width: 100%;
    height: 8rem;
}

.stack {
    width: 100%;
}