.wrapper {
    min-width: rem(384px);
}

.dropdown {
    z-index: 30000 !important;
    border-radius: var(--mantine-radius-md);
}

.option {
    border-radius: var(--mantine-radius-md);
}

.poster {
    width: 6rem;
}

.fetchingWrapper {
    width: 100%;
    height: 8rem;
}

.stack {
    width: 100%;
}