.dropdown {
    z-index: 30000 !important;
    border-radius: rem(16px);
    padding-right: 0;
}

.options {
    border-radius: rem(12px);
    overflow: clip;
}

.option {
    border-radius: rem(16px);

    @mixin hover {
        background: alpha(var(--animeth-accent-color), 0.2)
    }

    &:where([data-combobox-disabled]) {
        opacity: unset;
        cursor: default;

        @mixin hover {
            background: unset;
        }
    }
}

.poster {
    width: rem(96px);

    @media screen and (max-width: rem(500px)) {
        width: rem(80px);
        height: rem(112px);
    }
}

.fetchingWrapper {
    width: 100%;
    height: 8rem;
}

.stack {
    width: 100%;
}

.link {
    text-decoration: none !important;
}

.text {
    color: var(--mantine-color-default-color);
}

.title {
    @media screen and (max-width: rem(500px)) {
        font-size: rem(18px);
    }
}

.subtitle {
    @media screen and (max-width: rem(500px)) {
        font-size: rem(14px);
    }
}

.description {
    @media screen and (max-width: rem(500px)) {
        font-size: rem(12px);
    }
}

.textSkeleton {
    @media screen and (max-width: rem(500px)) {
        width: rem(96px);
        height: rem(16px);
    }
}