.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--mantine-spacing-xs);
    height: rem(96px);
    z-index: 30000;
    transition: transform 300ms ease;
    background: var(--animeth-background-color);
    border-bottom: rem(1px) solid var(--animeth-border-color);
}

.dropdown {
    z-index: 31000 !important;
}

.avatar {
    border: rem(2px) solid var(--animeth-background-color);
    cursor: pointer;
    transition: 150ms ease;

    @mixin hover {
        border: rem(2px) solid var(--animeth-secondary-color);
    }
}