.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--mantine-spacing-xs);
    height: rem(96px);
    z-index: 30000;
    transition: transform 300ms ease;
    background: var(--animeth-background-color);
    border-bottom: rem(1px) solid var(--animeth-border-color);
}

.dropdown {
    z-index: 31000 !important;
}

.avatar {
    border: rem(2px) solid var(--animeth-background-color);
    cursor: pointer;
    transition: 150ms ease;

    @mixin hover {
        border: rem(2px) solid var(--animeth-secondary-color);
    }
}

.modal {
    padding: rem(96px) rem(32px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 32000;
    background: #00000088;
    overflow-y: scroll;
    overflow-x: hidden;
}

.closeButton {
    flex-shrink: 0;
}