.modal {
    padding: rem(32px) rem(32px) rem(48px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 32000;
    background: #00000088;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.closeButton {
    flex-shrink: 0;
}