.root {
    background: none;
    flex-shrink: 0;
    border-radius: 0;
}

.chevron {
    transition: 150ms ease;
}

.chevronRotated {
    transform: rotate(-180deg) !important;
}

.stack {
    width: 100%;
}

.select {
    width: 100%;
    border-radius: var(--mantine-radius-md);

    &:focus {
        border-color: var(--animeth-text-contrast-color);
    }
}

.dropdown {
    border-radius: var(--mantine-radius-md);
}