.button {
    width: rem(64px);
    height: rem(64px);
    border-radius: var(--mantine-radius-md);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 150ms ease;

    @mixin hover {
        background: alpha(var(--mantine-color-default-hover), 0.5);
    }
}

.activeButton {
    background: var(--mantine-color-default-hover);

    @mixin hover {
        background: var(--mantine-color-default-hover);
    }
}

.expandedButton {
    width: rem(288px);
}

.iconWrapper {
    min-width: rem(64px);
}

.chevron {
}

.chevronRotated {
    transform: rotate(180deg) !important;
}