.button {
    width: rem(64px);
    height: rem(64px);
    border-radius: var(--mantine-radius-md);
    display: flex;
    justify-content: center;
    align-items: center;

    @mixin hover {
        background: alpha(var(--mantine-color-default-hover), 0.5);
    }
}

.activeButton {
    background: var(--mantine-color-default-hover);

    @mixin hover {
        background: var(--mantine-color-default-hover);
    }
}