.sidebar {
    padding-top: rem(16px);
    flex-shrink: 0;
    width: rem(96px);
    height: 100vh;
    transition: 150ms ease;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

.opened {
    width: rem(320px);
}

.menuButton {
    z-index: 1000;
    width: rem(64px);
    height: rem(64px);
    border-radius: var(--mantine-radius-md);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease;

    @mixin hover {
        background: alpha(var(--mantine-color-default-hover), 0.5);
    }
}

.headingGroup {
    user-select: none;
    cursor: pointer;
}