.chevron {
    transition: 150ms ease;
}

.chevronRotated {
    transform: rotate(180deg) !important;
}

.button {
    transition: 150ms ease;
    border-radius: var(--mantine-radius-xl);

    @mixin hover {
        background: lighten(var(--animeth-sidebar-color), 0.1)
    }
}