.comments {
    margin-left: rem(32px);

    @media screen and (max-width: rem(750px)) {
        margin-left: rem(16px);
    }
}

.heavilyNestedComments {
    margin-left: rem(-160px);
    border-left: rem(1px) solid alpha(var(--mantine-color-default-border), 0.5);

    @media screen and (max-width: rem(750px)) {
        margin-left: rem(-80px);
    }
}