.input {
    background: var(--animeth-secondary-color);
    border-radius: var(--mantine-radius-md);
    border-color: alpha(var(--animeth-text-contrast-color), 0.05);
}

.section {
    border-radius: var(--mantine-radius-md);
    overflow: clip;
}

.control {
    border-left: none;
    border-radius: 0 !important;
}