:root {
    @mixin light-root {
        --anisun-background-color: #fff;
        --anisun-ripple-color: #0000004d;
        --anisun-sidebar-color: #fdfdfd;
        --anisun-text-contrast-color: #000;
        --anisun-text-contrast-reversed-color: #fff;
        --anisun-accent-color: #000;
        --anisun-secondary-color: darken(var(--anisun-sidebar-color), 0.025);
    }

    @mixin dark-root {
        --anisun-background-color: #000;
        --anisun-ripple-color: #ffffff4c;
        --anisun-sidebar-color: #080808;
        --anisun-text-contrast-color: #fff;
        --anisun-text-contrast-reversed-color: #000;
        --anisun-accent-color: #fff;
        --anisun-secondary-color: lighten(var(--anisun-sidebar-color), 0.025);
    }
}

html {
    overflow: hidden;
    overscroll-behavior: none;

    @media screen and (max-width: rem(750px)) {
        overflow-y: auto;
    }
}

body {
    background: var(--anisun-background-color);
    scrollbar-color: #606060 transparent;
}

.root-group {
    background: var(--anisun-sidebar-color);
}

.app-wrapper {
    background: var(--anisun-background-color);
    box-sizing: border-box;
    border-radius: rem(12px) 0 0 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    border-top: rem(1px) solid var(--mantine-color-default-border);
    border-left: rem(1px) solid var(--mantine-color-default-border);

    @media (max-width: rem(750)) {
        border: none;
        border-radius: 0;
        height: auto;
        overflow-y: auto;
    }
}