.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: fit-content;
    position: sticky;
    top: rem(16px);
    left: rem(16px);
    z-index: 31500;
}

.inner {
    padding: rem(8px);
    background: var(--animeth-background-color);
    backdrop-filter: blur(16px);
    border: rem(1px) solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-xl);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(32px);
    width: rem(32px);
    border-radius: var(--mantine-radius-xl);
    transition: 150ms ease;
    border: rem(1px) solid var(--mantine-color-default-border);

    @mixin hover {
        color: var(--animeth-text-contrast-color);
        background: alpha(var(--mantine-color-default-hover), 0.5);
    }
}