.popoverButton {
    border-radius: var(--mantine-radius-xl);
    transition: 150ms ease;

    @mixin hover {
        background: darken(var(--mantine-color-default-hover), 0.05);
    }
}

.avatar {
    cursor: pointer;
    transition: 150ms ease;

    @mixin hover {
        filter: brightness(75%);
    }
}