.button {
    transition: 150ms ease;
    border-radius: var(--mantine-radius-xl);

    @mixin hover {
        background: lighten(var(--animeth-sidebar-color), 0.1)
    }
}

.iconWrapper {
    flex-shrink: 0;
}

.activeButton {
    background: lighten(var(--animeth-sidebar-color), 0.1)
}