.aspectRatio {
    flex: 3;
    flex-shrink: 0;
}

.container {
    padding: 0;
    position: relative;
}

.group {
    gap: rem(8px);
}

.stack {
    flex: 4;
    gap: rem(4px);

    @media screen and (max-width: rem(900px)) {
        gap: rem(2px);
    }

    @media screen and (max-width: rem(600px)) {
        gap: 0;
    }
}

.title {
    color: var(--animeth-text-contrast-color);
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(20px);
}

.text {
    font-size: rem(12px);
    line-height: rem(18px);
}

.episodesBadge {
    position: absolute;
    bottom: rem(4px);
    right: rem(4px);
}